.header {
  height: 150px;
  background-image: url(Orange.png); 
  background-size: 100% 100%;
  margin-bottom: px;
  color: #fff;
  padding: 10px 15px;
  overflow: hidden;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #454545;
  background: #374046;
  border-style: 2px solid red;
}
.content{

  border-radius: 4px;
  margin: 40px auto;
  padding: 0 0 20px;
  background: #fff;
  overflow: hidden;
  width:800px;
  height:1300px;
  background-image: url(image16.jpg);
  background-size: 800px 1300px;
  background-repeat: no-repeat;
}

i {
  position: relative;
  left: 3px;
  top: 40px;
  color: #fff;

}
.input-show{
	margin-bottom:10px;
	width:100%;
}
input{
  
	color:#000000; 
	background:#FFFFFF;
	border:none;
	padding:15.5px;
	width:91.9%;
	display:block;
	font-family: 'Lato',Arial,sans-serif;
	font-size:15px;
  margin-left: 35px;
  border-radius: 10px;
}
 .btn{
    color: lightgrey;
    background:#5F239B;
    border: 3px solid #87239B;
    height: 50px;
    width: 100px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
    margin-left: 300px;
    cursor: pointer;
    border-radius: 7px;
    
  }
  .style{
     position: relative;transform: translate(25%,-130%);
  }
  .image{
    width:150px;height:140px;
  }
  @media screen and (max-width: 1300px) and (min-width: 1000px)
{.header {
  height: 150px;
  background-image: url(Orange.png) ; 
  background-size: 100% 100%;
  margin-bottom: px;
  color: #fff;
  padding: 10px 15px;
  overflow: hidden;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #454545;
  background: #374046;
  border-style: 2px solid red;
}
.content{

  border-radius: 4px;
  margin: 40px auto;
  padding: 0 0 20px;
  background: #fff;
  overflow: hidden;
  width:800px;
  height:1300px;
  background-image: url(image16.jpg);
  background-size: 800px 1300px;
  background-repeat: no-repeat;
}

i {
  position: relative;
  left: 0px;
  top: 40px;
  color: #fff;
}

.input-show{
  margin-bottom:10px;
  width:100%;
}
input{
  color:#000000; 
  background:#FFFFFF;
  border:none;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
  margin-left: 25px;
}
 .btn{
    color: lightgrey;
    background:#5F239B;
    border: 3px solid #87239B;
    height: 50px;
    width: 100px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
    margin-left: 300px;
    cursor: pointer;
    border-radius: 7px;
    
  }
  .style{
   "position: relative;transform: translate(25%,-130%);
  }
  }
@media screen and (max-width: 1000px) and (min-width: 800px)
{.header {
  height: 150px;
  background-image:  url(Orange.png); 
  background-size: 100% 100%;
  margin-bottom: px;
  color: #fff;
  padding: 10px 15px;
  overflow: hidden;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #454545;
  background: #374046;
  border-style: 2px solid red;
}
.content{

  border-radius: 4px;
  margin: 40px auto;
  padding: 0 0 20px;
  background: #fff;
  overflow: hidden;
  width:800px;
  height:1300px;
  background-image: url(image16.jpg);
  background-size: 800px 1300px;
  background-repeat: no-repeat;
}

i {
  position: relative;
  left: 0px;
  top: 40px;
  color: #fff;
}

.input-show{
  margin-bottom:10px;
  width:100%;
}
input{
  color:#000000; 
  background:#FFFFFF;
  border:none;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
  margin-left: 25px;
}
 .btn{
    color: lightgrey;
    background:#5F239B;
    border: 3px solid #87239B;
    height: 50px;
    width: 100px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
    margin-left: 300px;
    cursor: pointer;
    border-radius: 7px;
    
  }
   .style{
   "position: relative;transform: translate(25%,-130%);
  }

}
@media screen and (min-width:600px) and (max-width:800px )
{
  .header {
  height: 150px;
  background-image:url(Orange.png);  
  background-size: 100% 100%;
  margin-bottom: px;
  color: #fff;
  padding: 10px 15px;
  overflow: hidden;
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #454545;
  background: #374046;
  border-style: 2px solid red;
}
.content{

  border-radius: 4px;
  margin: 40px auto;
  padding: 0 0 20px;
  background: #fff;
  overflow: hidden;
  width:550px;
  height:1300px;
  background-image: url(image16.jpg);
  background-size: 800px 1300px;
  background-repeat: no-repeat;
}

i {
  position: relative;
  left: 0px;
  top: 40px;
  color: #fff;
}

.input-show{
  margin-bottom:10px;
  width:100%;
}
input{
  color:#000000; 
  background:#FFFFFF;
  border:none;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
  margin-left: 25px;
}
 .btn{
    color: lightgrey;
    background:#5F239B;
    border: 3px solid #87239B;
    height: 50px;
    width: 100px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
    margin-left: 300px;
    cursor: pointer;
    border-radius: 7px;
    
  }
   /*.style{
   position: relative;transform: translate(25%,-130%);
  }*/
}
@media screen and (min-width:300px) and (max-width:600px )
{
  .header {
  height: 150px;
  background-image: url(Orange.png); 
  background-size: 100% 100%;
  margin-bottom: px;
  color: #fff;
  padding: 10px 15px;
  overflow: hidden;
  
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #454545;
  background: #374046;
  border-style: 2px solid red;
}
.content{

  border-radius: 4px;
  margin: 40px auto;
  padding: 0 0 20px;
  background: #fff;
  overflow: hidden;
  width:480px;
  height:1300px;
  background-image: url(image16.jpg);
  background-size: 800px 1300px;
  background-repeat: no-repeat;
}

i {
  position: relative;
  left: 0px;
  top: 40px;
  color: #fff;
}
.input-show{
  margin-bottom:10px;
  width:100%;
}
input{
  color:#000000; 
  background:#FFFFFF;
  border:none;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
  margin-left: 25px;
}
 .btn{
    color: lightgrey;
    background:#5F239B;
    border: 3px solid #87239B;
    height: 50px;
    width: 100px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
    margin-left: 200px;
    cursor: pointer;
    border-radius: 7px;
    
  }
   .style{
   position: relative;transform: translate(25%,-120%);
  }
  p{
    float: center;
    max-width: 350px;
  }
}
@media screen and (min-width:200px) and (max-width:300px )
{
  .header {
  height: 150px;
  background-image: url(Orange.png); 
  background-size: 100% 100%;
  margin-bottom: px;
  color: #fff;
  padding: 10px 15px;
  overflow: hidden;
  
}
body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #454545;
  background: #374046;
  border-style: 2px solid red;
}
.content{

  border-radius: 4px;
  margin: 40px auto;
  padding: 0 0 20px;
  background: #fff;
  overflow: hidden;
  width:200px;
  height:1300px;
}

i {
  position: relative;
  left: 0px;
  top: 40px;
  color: #fff;
}
.input-show{
  margin-bottom:10px;
  width:100%;
}
input{
  color:#000000; 
  background:#FFFFFF;
  border:none;
  padding:15.5px;
  width:91.9%;
  display:block;
  font-family: 'Lato',Arial,sans-serif;
  font-size:14px;
  margin-left: 25px;
}
 .btn{
    color: lightgrey;
    background:#5F239B;
    border: 3px solid #87239B;
    height: 50px;
    width: 100px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
    margin-left: 200px;
    cursor: pointer;
    border-radius: 7px;
    
  }
   .style{
   position: relative;transform: translate(25%,-120%);
  }
  p{
    float: center;
    max-width: 150px;
  }
 
}
